@font-face {
  font-family: "Rubik";
  font-style: italic;
  src: local("Rubik"),
    url("assets/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  src: local("Rubik"),
    url("assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-inline-size: 100%;
  display: block;
}

:root {
  --grey-500: #626c7f;
  --grey-50: #f4f6fa;
  --blue-950: #2d3949;
  --blue-900: #313e51;
  --blue-850: #3b4d66;
  --blue-500: #306aff;
  --blue-300: #abc1e1;
  --blue-100: #edf1f9;
  --blue-50: #ebf0ff;
  --green-500: #2fd887;
  --green-100: #e0fdef;
  --purple-600: #a729f5;
  --purple-100: #f6e7ff;
  --orange-400: #ff7e35;
  --orange-50: #fff5ed;
  --red-500: #ee5454;
  --font-base: "Rubik", sans-serif;
}

body {
  font-family: var(--font-base);
}
