@font-face {
  font-family: "Rubik";
  font-style: italic;
  src: local("Rubik"),
    url("assets/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  src: local("Rubik"),
    url("assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: red solid 1px;
}

img {
  max-inline-size: 100%;
  display: block;
}

:root {
  --grey-500: #626c7f;
  --grey-50: #f4f6fa;
  --blue-950: #2d3949;
  --blue-900: #313e51;
  --blue-850: #3b4d66;
  --blue-500: #306aff;
  --blue-300: #abc1e1;
  --blue-100: #edf1f9;
  --blue-50: #ebf0ff;
  --green-500: #2fd887;
  --green-100: #e0fdef;
  --purple-600: #a729f5;
  --purple-100: #f6e7ff;
  --orange-400: #ff7e35;
  --orange-50: #fff5ed;
  --red-500: #ee5454;
  --font-base: "Rubik", sans-serif;
  --bg-mobile-dark: url("assets/images/pattern-background-mobile-dark.svg")
      no-repeat,
    linear-gradient(var(--blue-900), var(--blue-900));
  --bg-mobile-light: url("assets/images/pattern-background-mobile-light.svg")
      no-repeat,
    linear-gradient(var(--grey-50), var(--grey-50));
  --bg-tablet-dark: url("assets/images/pattern-background-tablet-dark.svg")
      no-repeat,
    linear-gradient(var(--blue-900), var(--blue-900));
  --bg-tablet-light: url("assets/images/pattern-background-tablet-light.svg")
      no-repeat,
    linear-gradient(var(--grey-50), var(--grey-50));
  --bg-desktop-dark: url("assets/images/pattern-background-desktop-dark.svg")
      no-repeat,
    linear-gradient(var(--blue-900), var(--blue-900));
  --bg-desktop-light: url("assets/images/pattern-background-desktop-light.svg")
      no-repeat,
    linear-gradient(var(--grey-50), var(--grey-50));
  --icon-moon-dark: url("assets/images/icon-moon-light.svg");
  --icon-moon-light: url("assets/images/icon-moon-dark.svg");
  --icon-sun-dark: url("assets/images/icon-sun-light.svg");
  --icon-sun-light: url("assets/images/icon-sun-dark.svg");
  --toggle-icon-radius: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
  --toggle-gap: clamp(0.5rem, 0.0229rem + 2.0356vw, 1rem);
  --toggle-height: clamp(1.25rem, 0.7729rem + 2.0356vw, 1.75rem);
  --toggle-width: clamp(2rem, 1.0458rem + 4.0712vw, 3rem);
  --toggle-radius: clamp(0.75rem, 0.2729rem + 2.0356vw, 1.25rem);
  --toggle-padding: 0.25rem;
  --fluid-18-28: clamp(1.125rem, 0.5286rem + 2.5445vw, 1.75rem);
  --label-size: clamp(2.5rem, 1.5458rem + 4.0712vw, 3.5rem);
  --fluid-16-32: clamp(1rem, 0.0458rem + 4.0712vw, 2rem);
  --fluid-12-24: clamp(0.75rem, 0.0344rem + 3.0534vw, 1.5rem);
  --fluid-16-24: clamp(1rem, 0.25rem + 1.5625vw, 1.5rem); /* to 1280*/
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --fluid-40-64: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);
  --fluid-14-20: clamp(0.875rem, 0.5172rem + 1.5267vw, 1.25rem);
  --fluid-32-40: clamp(2rem, 1.5229rem + 2.0356vw, 2.5rem);
  --fluid-20-36: clamp(1.25rem, 0.2958rem + 4.0712vw, 2.25rem);
  --fluid-24-40: clamp(1.5rem, 0.5458rem + 4.0712vw, 2.5rem);
}

body {
  background: var(--bg-img);
  font-family: var(--font-base);
  color: var(--text-color);
}

html {
  --bg-img: var(--bg-mobile-light);
  --icon-sun: var(--icon-sun-light);
  --icon-moon: var(--icon-moon-light);
  --text-color: var(--blue-900);
  --btn-bg-color: white;
  --bar-bg-color: white;
}

html:has(.dark-toggle input:checked) {
  --bg-img: var(--bg-mobile-dark);
  --icon-sun: var(--icon-sun-dark);
  --icon-moon: var(--icon-moon-dark);
  --text-color: white;
  --btn-bg-color: var(--blue-850);
  --bar-bg-color: var(--blue-850);
}

header {
  display: flex;
  justify-content: space-between;
  padding-block: 16px;

  align-items: center;
}
.quiz-container {
  padding-inline: 24px; /*needs t be rwworked*/
}

/* think of better ways to manage width*/
.info-container {
  width: 100%;
}

.content-container {
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: var(--fluid-40-64);

  padding-block-start: 32px;
}

.btn-container {
  width: 100%;
  & > * + * {
    margin-block-start: var(--fluid-16-24);
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: var(--font-weight-medium);
  font-size: var(--fluid-18-28);
}

.icon {
  &::before {
    content: "";
    display: block;
    block-size: var(--label-size);
    inline-size: var(--label-size);
    border-radius: 4px;
    background: var(--icon-label) no-repeat center/71.43%;
    background-color: var(--icon-color);
  }
  &.icon-accessibility {
    --icon-color: var(--purple-100);
    --icon-label: url("assets/images/icon-accessibility.svg");
  }
  &.icon-css {
    --icon-color: var(--green-100);
    --icon-label: url("assets/images/icon-css.svg");
  }
  &.icon-html {
    --icon-color: var(--orange-50);
    --icon-label: url("assets/images/icon-html.svg");
  }
  &.icon-javascript {
    --icon-color: var(--blue-50);
    --icon-label: url("assets/images/icon-js.svg");
  }
  &.icon-data::before {
    content: attr(data-icon raw-string, "B");
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--data-color, var(--grey-500));
  }
}

.welcome-card {
  & h1 {
    font-size: var(--fluid-40-64);
    font-weight: var(--font-weight-light);
    & span {
      display: block;
      font-weight: var(--font-weight-medium);
    }
  }
  & p {
    font-style: italic;
    line-height: 1.5;
    font-size: var(--fluid-14-20);
    margin-block-start: 16px; /* for destop media query with 48px*/
  }
}

.submit-btn {
  padding: var(--fluid-16-32);
  font-size: var(--fluid-18-28);
  font-family: inherit;
  font-weight: var(--font-weight-medium);
  border-radius: var(--fluid-12-24);
  border: none;
  background-color: var(--purple-600);
  color: white;
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 14%);
  inline-size: 100%;
  &:hover {
    opacity: 50%;
  }
}

.icon-btn {
  display: flex;
  align-items: center;
  gap: var(--fluid-16-32);
  font-size: var(--fluid-18-28);
  font-weight: var(--font-weight-medium);
  font-family: inherit;
  border: none;
  background-color: var(--btn-bg-color);
  color: inherit;
  padding: var(--fluid-16-24); /*maybe mediaquery instead*/
  border-radius: var(--fluid-12-24);
  box-shadow: 0px 16px 40px 0px rgba(49, 62, 81, 14%); /*fix for dark mode*/
  inline-size: 100%;
}

.option-btn {
  --icon-color: var(--grey-50);
  outline: solid 3px var(--option-out-color);
  user-select: none;
  & input {
    appearance: none;
    position: absolute;
  }
  &:not(:has(input:disabled), .correct, .false) {
    &:has(input:checked) {
      --icon-color: var(--purple-600);
      --data-color: white;
    }
    &:has(input:focus, input:hover) {
      --option-out-color: var(--purple-600);
    }
  }

  &:is(.correct, .false) {
    &::after {
      content: "";
      margin-left: auto;
      inline-size: var(--fluid-32-40);
      block-size: var(--fluid-32-40);
      background: var(--answer-icon) center no-repeat;
    }
  }
  &.correct {
    --icon-color: var(--green-500);
    --option-out-color: var(--green-500);
    --data-color: white;
    --answer-icon: url("assets/images/icon-correct.svg");
  }
  &.false {
    --icon-color: var(--red-500);
    --option-out-color: var(--red-500);
    --data-color: white;
    --answer-icon: url("assets/images/icon-incorrect.svg");
  }
}

.question-container {
  & p:first-of-type {
    font-style: italic;
    font-size: var(--fluid-14-20);
  }
  & p:last-of-type {
    font-size: var(--fluid-20-36);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
    margin-block-start: var(--fluid-16-24);
  }
  & .progress-bar {
    margin-block-start: var(--fluid-24-40);
  }
}

.progress-bar {
  block-size: 16px;
  background-color: var(--bar-bg-color);
  border-radius: 999px;

  align-items: center;
  padding: 4px;
  &::before {
    content: "";
    border-radius: 104px;
    display: block;
    block-size: 8px;
    width: 50%;
    background-color: var(--purple-600);
  }
}

.dark-toggle {
  display: flex;
  gap: var(--toggle-gap);
  align-items: center;
  &::before {
    content: "";
    inline-size: var(--toggle-icon-radius);
    block-size: var(--toggle-icon-radius);
    background: var(--icon-sun) no-repeat;
    background-size: contain;
  }
  &::after {
    content: "";
    inline-size: var(--toggle-icon-radius);
    block-size: var(--toggle-icon-radius);
    background: var(--icon-moon) no-repeat;
    background-size: contain;
  }
  & input[type="checkbox"] {
    appearance: none;
  }
  & label:has(input:checked)::before {
    transform: translateX(
      calc(
        var(--toggle-width) - 2 * var(--toggle-padding) - var(--toggle-radius)
      )
    );
  }
  & label {
    display: block;
    inline-size: var(--toggle-width);
    block-size: var(--toggle-height);
    border-radius: 16px;
    background-color: var(--purple-600);
    padding: var(--toggle-padding);

    &::before {
      content: "";
      display: block;
      transition: all 200ms ease-in-out;
      inline-size: var(--toggle-radius);
      block-size: var(--toggle-radius);
      border-radius: 50%;
      background-color: white;
    }
  }
}

@media (min-width: 768px) {
  html {
    --bg-img: var(--bg-tablet-light);
  }

  html:has(.dark-toggle input:checked) {
    --bg-img: var(--bg-tablet-dark);
  }
}

@media (min-width: 1280px) {
  html {
    --bg-img: var(--bg-desktop-light);
  }

  html:has(.dark-toggle input:checked) {
    --bg-img: var(--bg-desktop-dark);
  }

  .quiz-container {
    max-width: 1157px;
  }

  .main-container {
    flex-direction: row;
  }

  .content-container {
    max-inline-size: 564px;
  }
  .welcome-card p {
    margin-block-start: 48px;
  }
  .question-container .progress-bar {
    /* still need better option for dektop*/
    margin-block-start: 184px;
  }
}
